/*CSS styling for TradeViz*/
svg.dorling,
svg.line_chart {
  margin-left:1.5em;
  margin-top:0.5em;
}

.axis text {
  font: 11px sans-serif;
}

.axis path {
  display: none;
}

.axis line {
  stroke: #000;
  shape-rendering: crispEdges;
}

.grid line,
.grid path {
  fill: none;
  stroke: #C0C0C0;
  shape-rendering: crispEdges;
}

.grid .minor.tick line {
  stroke-opacity: .5;
}

.brush .extent {
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.graticule {
  fill: none;
  stroke: #777;
  stroke-opacity: .5;
  stroke-width: .5px;
}

.land {
  fill: #E6E6E6;
}

.land_select {
  fill: red;
}

.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: 1px;
}

.countries {
  fill: #E6E6E6;
  stroke: #fff;
  stroke-width: 1px;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
  }

.axis text {
  font-family: sans-serif;
  font-size: 11px;
}

rect:hover {
  fill:orange;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}
/* tooltip */
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

div.right-sidebar {
  float:right;
  margin:1em;
  width:525px;
  margin-right:1.5em;
}

span.header {
  width:520px;
}

.selected {
  font-weight:bold;
  color:#000;
  background-color: #E6E6E6;
  text-transform: uppercase;
}


div#weight {
  float:left;
  width:260px;
}

div#value {
  float:right;
  width:260px;
}

.country-name {
  float:left;
 }

text {
  font-size: 10px;
  color:#e6e6e6;
  /*background-color: none;*/
}
text.selected{
  font-size: 12px;
  text-transform: uppercase;
}


/* Creates a small triangle extender for the tooltip 
.d3-tip:after {
box-sizing: border-box;
display: inline;
font-size: 10px;
width: 100%;
line-height: 1;
color: rgba(0, 0, 0, 0.8);
content: "\25BC";
position: absolute;
text-align: center;
}

Style northward tooltips differently 
.d3-tip.n:after {
margin: -1px 0 0 0;
top: 100%;
left: 0;
}
*/